.DS_Store
.idea

.vscode/launch.json

*.txt
*.pkl
*.pyc
*.tar
*.csv
online_eval.json

tta_*.sh
*.pt
*.pdf
*.ttf
*.pptx
*.jpeg
*.jpg

cached_data
dataset
log

print_acc_reset.py
print_acc_temp.py
print_acc_temp copy.py
*.png
print_acc_reset_class.py
print_acc_temp_2.py
print_all_features.py
print_embedding.py
print_record.py
figs/visualize_ODIN_TENT.py
